<div class="grid-container" *ngIf="this.pers && !this.pers.isRest">
  <!-- Если пусто -->
  <div *ngIf="!this.pers.currentTask && (this.pers.currentView=='QwestTasks'||this.pers.currentView=='SkillTasks')"
    fxLayout="row" fxLayoutAlign="center center">
    <h3 class="text-center" *ngIf="this.pers.exp==0">
      Пока пусто... Может стоит
      <a href="https://pashkas.github.io/rpgorganizertutorial.github.io/" target="_blank">
        посетить инструкцию?
      </a>
    </h3>
  </div>
  <div *ngIf="!this.pers.currentTask && (this.pers.currentView=='QwestTasks'||this.pers.currentView=='SkillTasks')">
    &nbsp;
  </div>

  <!-- Задачи списком -->
  <ng-container
    *ngIf="this.pers.currentView=='SkillsSort'||this.pers.currentView=='SkillsGlobal'||this.pers.currentView=='QwestsGlobal'||this.pers.currentView=='QwestSort'">
    <mat-list (cdkDropListDropped)="drop($event)" cdkDropList class="list-group  py-2 h-100 w-100 overflow-auto">
      <ng-container *ngFor="let t of this.pers.tasks; let i = index;">
        <div cdkDrag mat-list-item (click)="tskClick(i);" class="{{t| listBg:this.pers.currentView}}">
          <div class="d-flex align-items-center"
            [ngClass]="{'py-2': pers.currentView!='SkillsSort', 'py-0':  pers.currentView=='SkillsSort'}">
            <div class="flex-grow-1 text-center">
              <div class="pointer">
                <ng-container *ngIf="t.requrense != 'нет' && checkDate(t.date)" class="bg-danger">
                  [{{t.date| datestring}}]
                </ng-container>
                <ng-container *ngIf="t.requrense != 'нет' || this.pers.currentView=='QwestSort'; else elseTemplate">
                  <ng-container *ngIf="this.pers.currentView == 'SkillsSort'">
                    <a [routerLink]="['/pers/task', t.parrentTask ? t.parrentTask : t.id, false]"
                      class="text-dark">{{t.tittle}}</a>
                  </ng-container>
                  <ng-container *ngIf="this.pers.currentView != 'SkillsSort'">
                    {{t.tittle}}
                  </ng-container>

                </ng-container>
                <ng-template #elseTemplate>
                  <ng-container *ngIf="t.plusToNames[1]?.name as nn">
                    {{'('+nn+') '}}
                  </ng-container>
                  {{t.plusToNames[0]?.name}}
                </ng-template>
              </div>
            </div>
            <div *ngIf="t.requrense != 'нет' && !pers.isAutofocus" class="px-2">
              <ngx-material-timepicker-toggle [for]="pikTimeInList"></ngx-material-timepicker-toggle>
              <ngx-material-timepicker (timeSet)="onTimeChanged($event, t.id)" #pikTimeInList [format]="24"
                [defaultTime]="t.time"></ngx-material-timepicker>
              {{t.time}}
            </div>
            <mat-icon cdkDragHandle class="pointer pr-1"
              [hidden]="!(this.pers.currentView=='QwestSort' || (this.pers.currentView == 'SkillsSort' && pers.isAutofocus))">
              drag_handle</mat-icon>
          </div>
        </div>
      </ng-container>
    </mat-list>
    <div></div>
  </ng-container>
  <!-- Сфокусированный вид задач -->
  <ng-container
    *ngIf="this.pers.currentTask && (this.pers.currentView=='QwestTasks'||this.pers.currentView=='SkillTasks')">

    <!-- (error)="ReImages()" -->
    <div class="container" [ngClass]="{'vibrate-1': isSucessShown}">
      <img (press)="onLongPress($event)" (contextmenu)="$event.preventDefault()" (swipeup)="done(this.pers.currentTask)"
        (swipedown)="fail(this.pers.currentTask)" (swiperight)="onSwipeLeft($event)" (swipeleft)="onSwipeRight($event)"
        class="rounded element img-fluid pt-1 pb-0 px-1 mh-100 w-100" [ngStyle]="{'object-fit': 'contain'}"
        src="{{'assets/img/'+ this.pers.currentTask.imageLvl + '/' + this.pers.currentTask.image + '.jpg'}}">
    </div>
    <!-- (error)="onImgErr()" -->

    <div fxLayout="column" fxLayoutAlign="center center" class="w-100 h-100 py-2 px-2" [ngStyle]="{'height': '3em'}">
      <div fxLayout="row" fxLayoutAlign="center center">

        <a [routerLink]="['/pers/task', this.pers.currentTask.parrentTask ? this.pers.currentTask.parrentTask : this.pers.currentTask.id, false]"
          class="text-dark text-center">
          <h4 class="m-0">
            <ng-container>
              <ng-container *ngIf="this.pers.currentTask.requrense != 'нет' && checkDate(this.pers.currentTask.date)"
                class="bg-danger">
                [{{this.pers.currentTask.date|datestring}}]
              </ng-container>


              <span matBadge="{{this.pers.currentTask.failCounter|failMod}}" matBadgeSize="medium" matBadgeColor="warn"
                matBadgePosition="above after" matBadgeOverlap="false"
                [ngClass]="{'text-danger': this.pers.currentTask.failCounter >= 2}">{{this.pers.currentTask.tittle}}</span>
              <!-- {{this.pers.currentTask.imageLvl + '/' + this.pers.currentTask.image}} -->
            </ng-container>
          </h4>
        </a>
        <app-timer-counter [tsk]="this.pers.currentTask"></app-timer-counter>
      </div>
      <small *ngIf="this.pers.currentTask.descr" class="text-center text-secondary mynote">
        {{this.pers.currentTask.descr}}
      </small>
      <small class="text-center" *ngIf="this.pers.currentTask.plusToNames&&this.pers.currentTask.plusToNames.length>0;">
        <ng-container *ngFor="let pl of this.pers.currentTask.plusToNames; let i=index;">
          <ng-container *ngIf="i>0"> | </ng-container>
          <ng-container *ngIf="pl.linkType; else noLinkType">
            <a class="text-secondary pointer" (click)="openPlusType(pl.linkId, pl.linkType)">{{pl.name}}</a>
          </ng-container>
          <ng-template #noLinkType>
            <ng-container *ngIf="pl.linkName; else elseTemplate">
              <a class="text-secondary pointer" [routerLink]="[pl.linkName, pl.linkId]">{{pl.name}}</a>
            </ng-container>
            <ng-template #elseTemplate>

              <span class="text-secondary">
                <ng-container *ngIf="i==0 && this.pers.currentTask.requrense!='нет' && !pers.isAutofocus">
                  <ngx-material-timepicker-toggle [for]="toggleTimepicker"></ngx-material-timepicker-toggle>
                  <ngx-material-timepicker (timeSet)="onTimeChanged($event, this.pers.currentTask.id)" #toggleTimepicker
                    [format]="24" [defaultTime]="this.pers.currentTask.time">
                  </ngx-material-timepicker>
                </ng-container>
                {{pl.name}}
              </span>

            </ng-template>
          </ng-template>
        </ng-container>
      </small>
    </div>
  </ng-container>

  <app-progress-bar-num
    [text]="this.pers.name+' ('+this.pers.rangName+')'+', уровень ' + this.pers.level + (!pers.isTES? (': '+ ((this.pers.exp - this.pers.prevExp) * 10.0 | number : '1.0-0')+'/'+((this.pers.nextExp- this.pers.prevExp) * 10.0 | number : '1.0-0')):'')"
    [val]="this.pers.progressValue">
  </app-progress-bar-num>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100 h-100 py-1" style="min-height: 120px;">

    <!-- Кнопки -->

    <button (press)="qwickAddTask()" (contextmenu)="$event.preventDefault()" class="h-100 w-100 px-1 py-0 text-left"
      mat-button routerLink="/pers" (click)="openPersList()">

      <img [ngClass]="{'disabled': isSort, 'vibrate-1': isFailShown}" (contextmenu)="$event.preventDefault()"
        src="{{this.pers.image}}" class="img-fluid h-100 rounded" [ngStyle]="{'object-fit': 'contain'}">
    </button>

    <!-- Сортировка навыков -->
    <div fxLayout="row" fxFlex fxLayoutAlign="end center" fxLayoutGap="0.6em" class="w-100 h-100 px-2"
      *ngIf="this.pers.currentView == 'SkillsSort'">
      <!-- <button (click)="editCansel()" mat-icon-button>
        <img src="assets/icons/left.png" class="img-fluid" [ngStyle]="{'object-fit': 'contain', 'height':'3em'}">
      </button> -->

      <button (click)="setSort()" mat-icon-button style="width: 47px !important;">
        <img src="assets/icons/edit.png" class="img-fluid" [ngStyle]="{'object-fit': 'contain', 'height':'3em'}">
      </button>
    </div>

    <!-- Сортировка квестов -->
    <div fxLayout="row" fxFlex fxLayoutAlign="end center" fxLayoutGap="0.6em" class="w-100 h-100 px-2"
      *ngIf="this.pers.currentView == 'QwestSort'">
      <!-- Назад -->
      <!-- <button (click)="editCansel()" mat-icon-button>
        <img src="assets/icons/left.png" class="img-fluid" [ngStyle]="{'object-fit': 'contain', 'height':'3em'}">
      </button> -->

      <!-- Добавить -->
      <button (click)="addToQwest()" mat-icon-button>
        <img src="assets/icons/create.png" class="img-fluid" [ngStyle]="{'object-fit': 'contain', 'height':'3em'}">
      </button>

      <!-- Сохранить -->
      <button (click)="setSort()" mat-icon-button style="width: 47px !important;">
        <img src="assets/icons/edit.png" class="img-fluid" [ngStyle]="{'object-fit': 'contain', 'height':'3em'}">
      </button>
    </div>

    <div fxFlex fxLayout="row" *ngIf="this.pers.currentView != 'QwestSort' && this.pers.currentView != 'SkillsSort'"
      fxLayoutAlign="end center" fxLayoutGap="0.3em" class="w-100 h-100 px-2">

      <!-- Первый / глобальный -->
      <button [ngClass]="{'disabled': isSort}" [autofocus]="false" (click)="firstOrGlobal()" mat-icon-button>
        <img *ngIf="this.pers.currentView == 'SkillsGlobal' || this.pers.currentView == 'QwestsGlobal'"
          src="assets/icons/right.png" class="img-fluid" [ngStyle]="{'object-fit': 'contain', 'height':'3em'}">
        <img src="assets/icons/left.png"
          *ngIf="this.pers.currentView == 'SkillTasks' || this.pers.currentView == 'QwestTasks'" class="img-fluid"
          [ngStyle]="{'object-fit': 'contain', 'height':'3em'}">
      </button>

      <!-- Навыки / квесты -->
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0.3em" class="h-100">
        <button [ngClass]="{'disabled': this.pers.currentView == 'SkillsSort'||this.pers.currentView == 'QwestSort'}"
          (click)="setView()" mat-icon-button>
          <img
            *ngIf="this.pers.currentView == 'QwestTasks'||this.pers.currentView == 'QwestsGlobal'||this.pers.currentView == 'QwestSort'"
            src="assets/icons/abils.png" class="img-fluid" [ngStyle]="{'object-fit': 'contain', 'height':'2.2em'}">
          <img
            *ngIf="this.pers.currentView == 'SkillTasks'||this.pers.currentView == 'SkillsGlobal'||this.pers.currentView == 'SkillsSort'"
            src="assets/icons/qwests.png" class="img-fluid" [ngStyle]="{'object-fit': 'contain', 'height':'2.5em'}">
        </button>
        <button (click)="setSort()" mat-icon-button
          [ngClass]="{'disabled': this.pers.currentView == 'SkillsGlobal'||this.pers.currentView == 'QwestsGlobal'}">
          <img src="assets/icons/edit.png" class="img-fluid" [ngStyle]="{'object-fit': 'contain', 'height':'3em'}">
        </button>
      </div>

      <!-- Сделано -->
      <button
        [ngClass]="{'disabled': !this.pers.currentTask||this.pers.currentView == 'SkillsGlobal'||this.pers.currentView == 'SkillsSort'||this.pers.currentView == 'QwestsGlobal'||this.pers.currentView == 'QwestSort'}"
        (click)="done(this.pers.currentTask)" mat-icon-button>
        <img src="assets/icons/sword.png" class="img-fluid" [ngStyle]="{'object-fit': 'contain', 'height':'3em'}">
      </button>

      <!-- Пропуск -->
      <button
        [ngClass]="{'disabled': !this.pers.currentTask||this.pers.currentView == 'SkillsSort'||this.pers.currentView == 'SkillsGlobal'||this.pers.currentView == 'QwestTasks'||this.pers.currentView == 'QwestsGlobal'||this.pers.currentView == 'QwestSort'}"
        (click)="fail(this.pers.currentTask)" mat-icon-button>
        <img src="assets/icons/shild.png" class="img-fluid" [ngStyle]="{'object-fit': 'contain', 'height':'3em'}">
      </button>

    </div>
  </div>
</div>
<div id="overlay" [ngClass]="{ovsuccess: isSucessShownOv, ovfail: isFailShownOv}"></div>
<app-rest *ngIf="this.pers && this.pers.isRest"></app-rest>
