<nav *ngIf="this.pers && !this.srv.isDialogOpen" class="fixed-bottom">
  <div class="d-flex w-100 justify-content-end px-2 py-2">
    <!-- Назад -->
    <button mat-icon-button (click)="goBack()" class="mx-2" *ngIf="!isEditMode">
      <img src="assets/icons/left.png" class="img-fluid" [ngStyle]="{ 'object-fit': 'contain', height: '2.5em' }" />
    </button>
    <!-- Редактировать -->
    <button mat-icon-button (click)="saveData()">
      <img src="assets/icons/edit.png" class="img-fluid" [ngStyle]="{ 'object-fit': 'contain', height: '3em' }" />
    </button>
  </div>
</nav>

<!-- Просмотр -->
<div class="container pt-2 pb-4" *ngIf="this.pers && qwest && !isEditMode">
  <form class="pb-4">
    <app-image-component [(data)]="qwest.image" localImageType="qwest" [localImageId]="qwest.id"></app-image-component>
    <div class="progress position-relative" style="height: 32px">
      <div class="progress-bar attrprogr" role="progressbar" [style.width]="qwest.progressValue + '%'"></div>
      <div class="position-absolute w-100 px-1 text-center">
        <div class="align-self-baseline">
          <h4>{{ qwest.name }}</h4>
        </div>
      </div>
    </div>

    <!-- Описание -->
    <div *ngIf="qwest.descr" class="text-center pt-2 font-small text-secondary">
      <i>
        {{ qwest.descr }}
      </i>
    </div>

    <!-- Действия -->
    <div div fxLayout="row" fxLayoutAlign="space-around center" class="mt-2" *ngIf="qwest.progressValue >= 100">
      <button mat-icon-button *ngIf="qwest.progressValue >= 100" (click)="doneQwest(qwest)">
        <img src="assets/icons/star.png" class="img-fluid" [ngStyle]="{ 'object-fit': 'contain', height: '3em' }" />
      </button>
      <!-- <button class="icon-small" mat-icon-button (click)="isFromDoneQwest=true; addTsk.show();">
          <img src="assets/icons/create.png" class="img-fluid">
        </button> -->
    </div>

    <!-- Награды -->
    <ng-container *ngIf="qwestRewards?.length > 0 || qwest.rewards?.length > 0 || qwest.exp > 0 || qwest.gold > 0">
      <div class="mt-2 mx-0 mb-0" xFlexFill fxLayout="row wrap" fxLayoutAlign="center stretch" fxLayoutGap="20px grid">
        <div *ngIf="qwest.gold > 0">
          <div fxLayout="column" fxLayoutAlign="space-around center">
            <img src="assets/icons/gold.png" class="img-fluid rounded" [ngStyle]="{ 'object-fit': 'contain', height: '50px' }" />
            <div fxLayout="row" fxLayoutAlign="space-evenly center">
              <div>
                <small>+{{ qwest.gold }}</small>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="qwest.exp > 0">
          <div fxLayout="column" fxLayoutAlign="space-around center">
            <img src="assets/icons/опыт.png" class="img-fluid rounded" [ngStyle]="{ 'object-fit': 'contain', height: '50px' }" />
            <div fxLayout="row" fxLayoutAlign="space-evenly center">
              <div>
                <small>+{{ qwest.exp }} exp;</small>
              </div>
            </div>
          </div>
        </div>
        <div *ngFor="let rev of qwestRewards">
          <div fxLayout="column" fxLayoutAlign="space-around center">
            <img appImgBroken localImageType="reward" [localImageId]="rev.id" src="{{ rev.image }}" class="img-fluid rounded" [ngStyle]="{ 'object-fit': 'contain', height: '60px' }" />
            <div fxLayout="row" fxLayoutAlign="space-evenly center">
              <div>
                <small>{{ rev.name }}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Навык -->
    <div class="pt-2 text-center" *ngIf="linkAbs.length > 0">
      <div *ngFor="let ab of linkAbs">
        <a skipLocationChange [routerLink]="['/pers/task', ab.id, false]">{{ "🔗 " + ab.name + " 🔗" }}</a>
      </div>
    </div>

    <!-- Требования предыдущих -->
    <div class="pt-2 text-center" *ngIf="prevQwest">
      <a class="text-danger" [routerLink]="['/pers/qwest', prevQwest.id]">{{ '"' + prevQwest.name + '" должен быть выполнен!' }}</a>
    </div>

    <!-- Следующий квест -->
    <div class="pt-2 text-center" *ngIf="nextQwests.length > 0">
      <div *ngFor="let qw of nextQwests">
        <a skipLocationChange [routerLink]="['/pers/qwest', qw.id]">{{ "👉 " + qw.name + " 👈" }}</a>
      </div>
    </div>

    <!-- Задачи -->
    <div *ngIf="qwest.tasks.length > 0" class="pt-2">
      <ul class="list-group p-0">
        <li *ngFor="let tsk of qwest.tasks" class="list-group-item px-0 py-0 border-0">
          <a class="align-self-center w-100" [routerLink]="['/pers/task', tsk.id, false]">
            <div class="d-flex">
              <div class="flex-grow-1 text-center align-self-baseline">
                <ng-container *ngIf="tsk.isDone; else elseTemplate">
                  <del>
                    {{ tsk.name }}
                  </del>
                </ng-container>
                <ng-template #elseTemplate>
                  {{ tsk.name }}
                </ng-template>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </form>
  <br />
  <br />
</div>
<div class="container pt-2 pb-4" *ngIf="this.pers && qwest && isEditMode">
  <div class="pb-4">
    <!-- Изображение -->
    <app-image-component [(data)]="qwest.image" [isCanEdit]="true" [isQwest]="true" localImageType="qwest" [localImageId]="qwest.id"></app-image-component>

    <!-- Название -->
    <mat-form-field class="w-100">
      <input #nameEdt onfocus="this.select()" matInput autocomplete="off" placeholder="Название" [(ngModel)]="qwest.name" name="qwest.name" />
    </mat-form-field>

    <!-- Описание -->
    <mat-form-field class="w-100">
      <textarea matInput autosize minRows="1" maxRows="5" useImportant="true" onfocus="this.select()" autocomplete="off" placeholder="Описание" [(ngModel)]="qwest.descr" name="descr"></textarea>
    </mat-form-field>

    <!-- Золото -->
    <div class="flex">
      <mat-form-field>
        <mat-label>Сложность</mat-label>
        <mat-select [formControl]="qwestHardnessControll">
          <mat-option *ngFor="let h of gameSettings.qwestHardneses" [value]="h">
            {{ h.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="flex-basis: 33%">
        <input matInput type="number" onfocus="this.select()" autocomplete="off" placeholder="Золото" [(ngModel)]="qwest.gold" name="gold" />
      </mat-form-field>
    </div>
    <!-- Опыт -->
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px" *ngIf="!pers.isTES">
      <div style="width: 100%">
        <mat-form-field class="w-100">
          <input matInput onfocus="this.select()" autocomplete="off" placeholder="Опыт" [(ngModel)]="qwest.exp" name="exp" [disabled]="qwest.hardnes != 0" />
        </mat-form-field>
      </div>
      <div fxFlex="noshrink">
        <mat-chip-list [selectable]="true">
          <mat-chip (click)="setExp(1)" [selected]="qwest.hardnes == 1" color="accent">Легко</mat-chip>
          <mat-chip (click)="setExp(2)" [selected]="qwest.hardnes == 2" color="accent">Норм</mat-chip>
          <mat-chip (click)="setExp(3)" [selected]="qwest.hardnes == 3" color="accent">Сложно</mat-chip>
          <mat-chip (click)="setExp(0)" [selected]="qwest.hardnes == 0" color="accent">Польз.</mat-chip>
        </mat-chip-list>
      </div>
    </div>
    <!-- Задачи -->
    <ng-container>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <h5>Миссии:</h5>
        <button class="icon-small" (click)="addTask()" mat-icon-button>
          <img src="assets/icons/create.png" class="img-fluid" />
        </button>
      </div>
      <mat-list (cdkDropListDropped)="drop($event)" cdkDropList id="tsks" *ngIf="qwest.tasks.length > 0">
        <div mat-list-item cdkDrag *ngFor="let tsk of qwest.tasks; let i = index">
          <div class="d-flex">
            <div class="flex-grow-1 align-self-center">
              <ng-container *ngIf="tsk.isDone; else elseTemplate">
                <del>
                  <h6>{{ tsk.name }}</h6>
                </del>
              </ng-container>
              <ng-template #elseTemplate>
                <h6>{{ tsk.name }}</h6>
              </ng-template>
            </div>
            <div class="btn-group btn-group-sm" role="group" aria-label="Действия">
              <button class="icon-small" (click)="delTask(tsk.id)" mat-icon-button>
                <img src="assets/icons/del.png" class="img-fluid" />
              </button>
              <button class="icon-small" (click)="moveTaskToAnotherQwest(tsk)" mat-icon-button cdkDragHandle>
                <img src="assets/icons/up.png" class="img-fluid" />
              </button>
              <button class="icon-small" mat-icon-button cdkDragHandle>
                <img src="assets/icons/right.png" class="img-fluid" />
              </button>
            </div>
          </div>
        </div>
      </mat-list>
    </ng-container>
    <!-- Награды -->
    <ng-container>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="pt-2">
        <h5>Награды:</h5>
        <button class="icon-small" (click)="addNewRevard(null)" mat-icon-button>
          <img src="assets/icons/create.png" class="img-fluid" />
        </button>
      </div>
      <mat-list *ngIf="qwestRewards.length > 0">
        <div mat-list-item *ngFor="let rev of qwestRewards; let i = index">
          <div class="d-flex">
            <div class="flex-grow-1 align-self-center">
              {{ rev.name }}
            </div>
            <div class="d-flex">
              <!-- Удалить -->
              <div class="btn-group btn-group-sm" role="group" aria-label="Действия">
                <!-- Редактировать -->
                <button class="icon-small" (click)="addNewRevard(rev)" mat-icon-button>
                  <img src="assets/icons/edit.png" class="img-fluid" />
                </button>
                <button class="icon-small" (click)="delReward(rev.id)" mat-icon-button>
                  <img src="assets/icons/del.png" class="img-fluid" />
                </button>
              </div>
            </div>
          </div>
        </div>
      </mat-list>
    </ng-container>
    <!-- Навык -->
    <ng-container>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="pt-2">
        <h5>Навык:</h5>
        <button (click)="setAbil()" class="icon-small" mat-icon-button *ngIf="!qwest.abilitiId">
          <img src="assets/icons/edit.png" class="img-fluid" />
        </button>
      </div>
      <mat-list>
        <div mat-list-item *ngIf="qwestAbiliti">
          <div class="d-flex">
            <div class="flex-grow-1 align-self-center">
              {{ qwestAbiliti.name }}
            </div>
            <div class="d-flex">
              <div class="btn-group btn-group-sm" role="group" aria-label="Действия">
                <button class="icon-small" mat-icon-button (click)="delAb()">
                  <img src="assets/icons/del.png" class="img-fluid" />
                </button>
              </div>
            </div>
          </div>
        </div>
      </mat-list>
    </ng-container>
    <!-- Следующие квесты -->
    <ng-container>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="pt-2">
        <h5>Следующий квест:</h5>
        <div>
          <button class="icon-small" (click)="chooseNextQwest()" mat-icon-button *ngIf="nextQwests.length == 0">
            <img src="assets/icons/edit.png" class="img-fluid" />
          </button>
          <button class="icon-small" (click)="addNextQwest()" mat-icon-button *ngIf="nextQwests.length == 0">
            <img src="assets/icons/create.png" class="img-fluid" />
          </button>
        </div>
      </div>
      <mat-list *ngIf="nextQwests.length > 0">
        <div mat-list-item *ngFor="let q of nextQwests; let i = index">
          <div class="d-flex">
            <div class="flex-grow-1 align-self-center">
              <h6>{{ q.name }}</h6>
            </div>
            <div class="btn-group btn-group-sm" role="group" aria-label="Действия">
              <button class="icon-small" (click)="delNextQwest(q.id)" mat-icon-button>
                <img src="assets/icons/del.png" class="img-fluid" />
              </button>
            </div>
          </div>
        </div>
      </mat-list>
    </ng-container>
  </div>
  <br />
  <br />
</div>
