<div *ngIf="this.tsk.isTimer||this.tsk.isCounter" fxLayout="row" fxLayoutAlign="center center"
  >
  <div *ngIf="this.tsk.isCounter">
    <button  mat-icon-button color="primary" (click)="counter()">
      <mat-icon [matBadge]="tsk.counterValue" matBadgeSize="small" >check</mat-icon>
    </button>
  </div>
  <div *ngIf="this.tsk.isTimer" >
    <button mat-icon-button color="primary" (click)="timer()" >
        <ng-container *ngIf="isTimerStart; else noStart">
            <mat-icon  [matBadge]="((tsk.timerValue+this.timeSteal)/60000)| number : '0.0-0'" matBadgeSize="small">timer</mat-icon>
        </ng-container>
        <ng-template #noStart>
            <mat-icon [matBadge]="((tsk.timerValue+this.timeSteal)/60000)| number : '0.0-0'" matBadgeSize="small">timer_off</mat-icon>
        </ng-template>
    </button>
  </div>
</div>
