<nav *ngIf="this.pers && !this.srv.isDialogOpen" class="fixed-bottom">
  <div class="d-flex w-100 justify-content-end px-2 py-2">
    <!-- Назад -->
    <button mat-icon-button (click)="goBack()" class="mx-2" *ngIf="!isEditMode">
      <img src="assets/icons/left.png" class="img-fluid" [ngStyle]="{'object-fit': 'contain', 'height':'2.5em'}">
    </button>
    <!-- Редактировать -->
    <button mat-icon-button (click)="saveData()">
      <img src="assets/icons/edit.png" class="img-fluid" [ngStyle]="{'object-fit': 'contain', 'height':'3em'}">
      <!-- <img *ngIf="isEditMode" src="assets/icons/create.png" class="img-fluid"
        [ngStyle]="{'object-fit': 'contain', 'height':'3em'}"> -->
    </button>
  </div>
</nav>


<!-- Просмотр -->
<div class="container pt-2 pb-4" *ngIf="this.pers && charact && !isEditMode">
  <form class="pb-4">
    <!-- Картинка -->
    <app-image-component [(data)]="charact.image"></app-image-component>
    <div class="progress position-relative" style="height: 32px;">
      <div class="progress-bar attrprogr" role="progressbar" [style.width]="charact.progressValue + '%'">
      </div>
      <div class="d-flex position-absolute w-100 px-1">
        <div class="flex-grow-1 text-left align-self-baseline">
          <h4>{{charact.name}}</h4>
        </div>
        <div class="text-right align-self-baseline">
          <h4>{{charact.rang.name}}</h4>
        </div>
      </div>
    </div>
    <!-- Описание -->
    <div *ngIf="charact.descr" class="text-center pt-2 font-small  text-secondary">
      <i>
        {{charact.descr}}
      </i>
    </div>
    <!-- Навыки -->
    <ul class="list-group p-0 pt-1" *ngIf="charact.abilities.length>0">
      <li *ngFor="let ab of charact.abilities" class="list-group-item py-0 mt-1 mb-0 pr-0 pl-0 border-0">
        <div class="align-self-center w-100 d-flex">
          <div class=" flex-grow-1 progress position-relative" style="height: 20px;">
            <div class="progress-bar abprogr" role="progressbar" [style.width]="ab.progressValue + '%'">
            </div>
            <div class="d-flex  position-absolute w-100 px-1 abText text-primary">
              <div class="flex-grow-1 text-left align-self-baseline pointer">
                <a (click)="showAbility(ab)">{{ab.name}}</a>
              </div>
              <div class="text-right align-self-baseline pointer">
                <a (click)="showAbility(ab)">{{ab.rang.name}}</a>
              </div>
            </div>
          </div>
          <a *ngIf="ab.tasks[0]?.mayUp && pers.ON>0" class="ml-0 px-1 mr-0 pointer" (click)="upAbil(ab)">
            <img src="assets/icons/up.png" class="img-fluid" [ngStyle]="{'object-fit': 'contain', 'height':'1.5em'}">
          </a>
        </div>
        <!-- <mat-progress-bar class="myprogr" color="accent" mode="determinate" value="{{ab.progressValue}}">
        </mat-progress-bar> -->
      </li>
    </ul>
  </form>
  <br>
  <br>
</div>
<!-- Редактирование -->
<div class="container pt-2 pb-4" *ngIf="this.pers && charact && isEditMode">
  <form class="pb-4">
    <!-- Картинка -->
    <!-- <div class="md-form text-center" *ngIf="charact.image">
      <img src="{{charact.image}}" class="img-fluid" [ngStyle]="{'object-fit': 'contain', 'height': '25vh'}">
    </div> -->
    <app-image-component [(data)]="charact.image" [isCanEdit]="true"></app-image-component>
    <!-- Название -->
    <mat-form-field class="w-100">
      <input matInput onfocus="this.select()" autocomplete="off" placeholder="Название" [(ngModel)]="charact.name"
        name="charact.name">
    </mat-form-field>

    <!-- Начальное значение -->
    <mat-form-field class="w-100">
      <mat-label>Начальное значение</mat-label>
      <!-- <input matInput onfocus="this.select()" autocomplete="off" placeholder="0" [(ngModel)]="charact.startRang.val" name="charact.startRang.val"> -->
      <mat-select [(ngModel)]="charact.startRang.val" name="food">
        <mat-option *ngFor="let rang of rangse" [value]="rang.val">
          {{rang.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Описание -->
    <mat-form-field class="w-100">
      <textarea matInput autosize minRows='1' maxRows='5' useImportant='true' onfocus="this.select()" autocomplete="off"
        placeholder="Описание" [(ngModel)]="charact.descr" name="charact.descr"></textarea>
    </mat-form-field>

    <!-- Навыки -->
    <!-- Добавить навык -->
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h5>Навыки:</h5>
      <button class="icon-small" (click)="addAbil();" mat-icon-button>
        <img src="assets/icons/create.png" *ngIf="!this.srv.isGlobalTaskView" class="img-fluid">
      </button>
    </div>
    <!-- Навыки -->
    <mat-list id="abs" *ngIf="charact.abilities.length>0">
      <div mat-list-item *ngFor="let ab of charact.abilities">
        <div class="d-flex">
          <div class="flex-grow-1 align-self-center">
            <a>
              {{ab.name}}
            </a>
          </div>
          <div class="btn-group btn-group-sm" role="group" aria-label="Действия">
            <!-- Удалить -->
            <button class="icon-small" (click)="delAbil(ab.id)" mat-icon-button>
              <img src="assets/icons/del.png" *ngIf="!this.srv.isGlobalTaskView" class="img-fluid">
            </button>
          </div>
        </div>
      </div>
    </mat-list>
  </form>
  <br>
  <br>
</div>
