<div fxLayout="column" fxFill fxLayoutAlign="space-between stretch" fxLayoutGap="10px" class="text-light">
  <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex>
    <div fxLayout="row" fxLayoutAlign="center start" *ngIf="this.abPoints != null" class="m-2">
      <div class="pl-2">
        {{ this.abPoints }}
      </div>
      <img src="assets/icons/diamond.png" class="img-fluid px-2" [ngStyle]="{ 'object-fit': 'contain', height: '1.5em' }" />
    </div>
    <div fxLayout="row" fxLayoutAlign="center end" *ngIf="this.gold != null">
      <div>{{ this.gold }}</div>
      <img src="assets/icons/gold.png" class="img-fluid px-2" [ngStyle]="{ 'object-fit': 'contain', height: '1.5em' }" />
    </div>
    <div>
      <img *ngIf="isGood && !img" class="img-fluid changesImg" src="assets/img/good.png" />
      <img *ngIf="!isGood && !img" class="img-fluid changesImg" src="assets/img/bad.png" />
      <img appImgBroken *ngIf="img" class="img-fluid changesImg" src="{{ img }}" />
    </div>
    <div fxLayout="row" fxLayoutAlign="center end" *ngIf="this.abPoints != null" class="m-2">
      <img src="assets/icons/diamond.png" class="img-fluid" [ngStyle]="{ 'object-fit': 'contain', height: '1.5em' }" />
      <span>
        {{ this.abPoints }}
      </span>
    </div>
    <div fxLayout="row" fxLayoutAlign="center end" *ngIf="this.goldTotal != null">
      <img src="assets/icons/tresure.png" class="img-fluid px-2" [ngStyle]="{ 'object-fit': 'contain', height: '1.6em' }" />
      <div>{{ this.goldTotal }}</div>
    </div>
  </div>

  <div fxFlex class="px-0 py-0 text-center" style="width: 100%">
    <mat-list class="p-1">
      <div mat-list-item *ngIf="headText" class="pb-1">
        <h5 style="color: white">{{ headText | uppercase }}</h5>
      </div>
      <ng-container>
        <div class="pb-1" mat-list-item *ngFor="let item of this.changes; let i = index">
          <app-pers-changes-item [item]="item"></app-pers-changes-item>
        </div>
      </ng-container>
    </mat-list>
  </div>
</div>
