<ng-container *ngIf="item.valFrom!=item.valTo">
  <div class="border border-dark flex-grow-1 w-100" [ngStyle]="{'height': '24px'}">
    <div class="progress h-100 position-relative">
      <div #progress class="progress-bar h-100" [ngStyle]="{'background-color': 'Gold'}">
      </div>
      <div [ngStyle]="{'font-size': 'small'}"
        class="align-self-center justify-content-center d-flex position-absolute w-100 text-dark">
        {{item.name}}&nbsp;{{item.valChange}}
      </div>
    </div>
  </div>
</ng-container>

<!-- <div class="text-center w-100">{{item.name}}&nbsp;{{item.valChange}}</div>
<section class="example-section">
  <div #progress class="progress-bar h-100" [ngStyle]="{'background-color': 'Gold'}">
  </div>
</section> -->


<!-- <section class="example-section" *ngIf="true">
  <mat-progress-bar #progress [color]="'white'" [value]="100" style="height: 24px;">
  </mat-progress-bar>
  <div class="text-section text-center w-100">  {{item.name}}&nbsp;{{item.valChange}} </div>
</section> -->
