<p mat-dialog-title>
  <ng-container *ngIf="isImport; else exportTitle">
    Загрузить персонажа из JSON-файла.
  </ng-container>
  <ng-template #exportTitle>
    Выгрузить персонажа в JSON-файл.
  </ng-template>
</p>

<mat-dialog-content>
  <ng-container *ngIf="isImport; else exportContent">
    <input #fileInput type="file" accept=".json,application/json" class="d-none" (change)="importFromFile($event)" />

    <button *ngIf="isNative; else webImportButton" mat-stroked-button color="accent" (click)="importFromNativeFile()" [disabled]="isBusy">
      Выбрать файл
    </button>
    <ng-template #webImportButton>
      <button mat-stroked-button color="accent" (click)="fileInput.click()" [disabled]="isBusy">
        Выбрать файл
      </button>
    </ng-template>
  </ng-container>

  <ng-template #exportContent>
    <button mat-stroked-button color="accent" (click)="exportToFile()" [disabled]="isBusy">
      Сохранить JSON
    </button>
  </ng-template>

  <div class="file-status" *ngIf="fileName">
    {{ fileName }}
  </div>
  <div class="file-status" *ngIf="message">
    {{ message }}
  </div>
  <div class="file-error" *ngIf="error">
    {{ error }}
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Отмена</button>
  <button mat-button *ngIf="isImport" [disabled]="!persData || isBusy" (click)="confirmImport()" cdkFocusInitial>ОК</button>
  <button mat-button *ngIf="!isImport" mat-dialog-close cdkFocusInitial>ОК</button>
</mat-dialog-actions>
