.grid-login {
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15px auto auto 1fr 15px;
    background: black;
}

.passFields{
    background-color: lightgray;
    padding: 5px;
}