<div class="grid-login p-2  text-center">
  <div>&nbsp;</div>
  <h1 class="header text-light">Молви друг, и войди!</h1>

  <div class="pl-2">
    <div class="passFields" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="space-around stretch">
      <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-around center">
        <mat-form-field class="w-100">
          <input matInput autocomplete="off" placeholder="Email" [(ngModel)]="email" name="email">
        </mat-form-field>
        <mat-slide-toggle [(ngModel)]="isNew">Новичок?</mat-slide-toggle>
      </div>
      <mat-form-field class="w-100">
        <input matInput autocomplete="off" placeholder="Пароль" [(ngModel)]="password" name="password">
        <mat-hint *ngIf="err">
          * {{err}}
        </mat-hint>
      </mat-form-field>

      <div fxLayout="row" fxLayoutAlign="space-around stretch" fxLayoutGap="5px">
        <!-- <div>
          <button mat-flat-button (click)="tryGoogleLogin()">GOOGLE</button>
        </div> -->
        <div fxFlex>
          <button mat-flat-button color="warn" class="w-100" (click)="doLogin()">
            <ng-container *ngIf="!isNew; else regIn">
              Войти
            </ng-container>
            <ng-template #regIn>
              Зарегистрироваться
            </ng-template>
          </button>
        </div>
      </div>
    </div>

  </div>

  <img class="img-fluid p-4 h-100 w-100" [src]="'assets/img/mellon.webp'" [ngStyle]="{'object-fit': 'contain'}">

  <div>&nbsp;</div>
</div>