<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <mat-form-field fxFlex>
        <mat-label>Навык</mat-label>
        <mat-select [(ngModel)]="selReq" panelClass="panel-override">
            <mat-option *ngFor="let a of abs" [value]="a">
                {{a.elName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div fxFlex="initial">
        ≥
    </div>

    <mat-slider fxFlex="30" [thumbLabel]="true" class="w-100 pt-2" [max]="100" [min]="1" [step]="1" [(ngModel)]="selVal">
    </mat-slider>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-button mat-dialog-close>Отмена</button>
    <button mat-button [mat-dialog-close]="{elName:selReq?.elName, elId:selReq?.elId, elVal: selVal}">Ok</button>
</div>