<div class="pers-master-wrap" *ngIf="persForm">
  <!-- Живое превью персонажа -->
  <div class="pers-preview mat-elevation-z2">
    <div
      class="pers-preview__avatar"
      [style.background-image]="'url(' + persForm.get('img').value + ')'"
    ></div>
    <div class="pers-preview__info">
      <div class="pers-preview__name">
        {{ persForm.get('persName').value || 'Безымянный' }}
      </div>
      <div class="pers-preview__stats">
        <span
          class="stat-chip"
          *ngFor="let cha of getCharactControls().controls"
        >
          {{ cha.value.chaName }}
          <b>{{ (+cha.value.val) + 1 }}</b>
        </span>
      </div>
    </div>
  </div>

  <!-- Прогресс шага -->
  <mat-progress-bar
    mode="determinate"
    [value]="((selectedStep + 1) / 3) * 100"
    class="pers-master__progress"
  ></mat-progress-bar>

  <!-- Горизонтальный stepper -->
  <mat-horizontal-stepper
    [linear]="true"
    #stepper
    [formGroup]="persForm"
    (selectionChange)="selectedStep = $event.selectedIndex"
    class="pers-master__stepper"
  >
    <!-- Шаг 1: Основная информация -->
    <mat-step label="Основное">
      <div class="step-block step-block--center">
        <div class="pers-avatar-frame">
          <app-image-component
            [data]="persForm.get('img').value"
            (dataChange)="persForm.get('img').setValue($event)"
            [isCanEdit]="true"
            [isPers]="true"
          ></app-image-component>
        </div>
        <mat-form-field appearance="outline" class="w-100 mt-3">
          <mat-label>Имя персонажа</mat-label>
          <input
            formControlName="persName"
            onfocus="this.select()"
            matInput
            autocomplete="off"
          />
        </mat-form-field>
      </div>
      <div class="step-actions">
        <button mat-flat-button color="primary" matStepperNext>Далее</button>
      </div>
    </mat-step>

    <!-- Шаг 2: Характеристики (имя + картинка + уровень в одной карточке) -->
    <mat-step label="Характеристики">
      <div formArrayName="characts" class="step-block">
        <mat-card
          *ngFor="let cha of getCharactControls().controls; let i = index"
          [formGroupName]="i"
          class="cha-card"
        >
          <div class="cha-card__row">
            <div class="cha-card__avatar">
              <app-image-component
                [(data)]="cha.get('img').value"
                [isCanEdit]="true"
                [isPers]="false"
              ></app-image-component>
            </div>
            <div class="cha-card__fields">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Название</mat-label>
                <input
                  formControlName="chaName"
                  onfocus="this.select()"
                  matInput
                  autocomplete="off"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Начальный уровень</mat-label>
                <mat-select formControlName="val">
                  <mat-option *ngFor="let rang of rangse" [value]="rang.val">
                    {{ +rang.name + 1 }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <button
              *ngIf="i != 0"
              mat-icon-button
              class="icon-small cha-card__del"
              (click)="deleteCha(i)"
              matTooltip="Удалить"
            >
              <img src="assets/icons/del.png" class="img-fluid" />
            </button>
          </div>
        </mat-card>
        <button mat-stroked-button class="add-btn" (click)="addCharact()">
          <img src="assets/icons/create.png" class="icon-inline" />
          Добавить характеристику
        </button>
      </div>
      <div class="step-actions">
        <button mat-button matStepperPrevious>Назад</button>
        <button mat-flat-button color="primary" matStepperNext>Далее</button>
      </div>
    </mat-step>

    <!-- Шаг 3: Навыки -->
    <mat-step label="Навыки">
      <div formArrayName="characts" class="step-block">
        <mat-card
          *ngFor="let cha of getCharactControls().controls; let i = index"
          [formGroupName]="i"
          class="cha-card"
        >
          <h4 class="cha-card__title">{{ cha.value.chaName }}</h4>
          <div formArrayName="abils" class="abils-list">
            <div
              *ngFor="let ab of cha.get('abils').controls; let j = index"
              [formGroupName]="j"
              class="abil-row"
            >
              <mat-form-field appearance="outline" class="abil-row__name">
                <mat-label>Навык</mat-label>
                <input
                  formControlName="abName"
                  onfocus="this.select()"
                  matInput
                  autocomplete="off"
                  type="text"
                />
              </mat-form-field>
              <mat-form-field
                appearance="outline"
                *ngIf="gameSettings.isClassicaRPG == true"
                class="abil-row__hardness"
              >
                <mat-label>Сложность</mat-label>
                <mat-select formControlName="hardness">
                  <mat-option
                    *ngFor="let hardness of hardnessList"
                    [value]="hardness.hardness"
                  >
                    {{ hardness.txt }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button
                *ngIf="j != 0"
                mat-icon-button
                class="icon-small"
                (click)="deleteAbil(i, j)"
                matTooltip="Удалить"
              >
                <img src="assets/icons/del.png" class="img-fluid" />
              </button>
            </div>
          </div>
          <button
            mat-stroked-button
            class="add-btn add-btn--sm"
            (click)="addAbil(i)"
          >
            <img src="assets/icons/create.png" class="icon-inline" />
            Добавить навык
          </button>
        </mat-card>
      </div>
      <div class="step-actions">
        <button mat-button matStepperPrevious>Назад</button>
        <button mat-flat-button color="accent" (click)="finish()">
          Готово!
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
