<h1 mat-dialog-title class="text-center">{{ data.header }}</h1>
<div mat-dialog-content [ngClass]="{ 'cust-mat-dialog-content': isGallery }">
  <div *ngIf="!this.isGallery">
    <mat-form-field>
      <input onfocus="this.select()" cdkFocusInitial matInput [(ngModel)]="data.text" autocomplete="off" name="data.text" [placeholder]="lblTxt" />
    </mat-form-field>
  </div>
  <div *ngIf="this.isGallery" class="masonry-list-galery">
    <div *ngFor="let gi of gallerryImages" class="masonry-item">
      <div style="cursor: pointer" class="w-100 h-100" (click)="chooseImg(gi)">
        <img src="{{ gi }}" class="img-fluid w-100 h-100" [ngStyle]="{ 'object-fit': 'contain' }" />
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions [align]="'end'" [formGroup]="galleryForm" [ngClass]="{ 'cust-mat-actions': isGallery || galleryForm.get('isUrl').value }">
  <mat-form-field *ngIf="isGallery || galleryForm.get('isUrl').value">
    <mat-select formControlName="type">
      <mat-option value="gallery">Галерея</mat-option>
      <mat-option value="pers">Персонажи</mat-option>
      <mat-option value="reward">Награды</mat-option>
      <mat-option value="url">Из интернета</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button mat-dialog-close>Отмена</button>
  <button mat-button (click)="ok()">Ok</button>
</div>
