<h1 mat-dialog-title class="text-center">{{data.header}}</h1>
<div mat-dialog-content>
  <div *ngIf="!isGallery">
    <mat-form-field>
      <input onfocus="this.select()" cdkFocusInitial matInput [(ngModel)]="data.text" autocomplete="off"
        placeholder="Название" name="data.text">
    </mat-form-field>
  </div>
  <ngx-masonry *ngIf="isGallery" class="row p-0">
    <div ngxMasonryItem *ngFor="let gi of gallerryImages" class="col-lg-3 col-4 p-0">
      <div style="cursor: pointer" class="w-100 h-100" (click)="chooseImg(gi)">
        <img src="{{gi}}" class="img-fluid w-100 h-100" [ngStyle]="{'object-fit': 'contain'}">
      </div>
    </div>
  </ngx-masonry>
</div>
<div mat-dialog-actions [align]="'end'">
  <button *ngIf="this.data.isGallery" mat-flat-button (click)="gallery()" color='accent'>
    Путь из интернета
  </button>
  <button mat-button mat-dialog-close>Отмена</button>
  <button mat-button (click)="ok()">Ok</button>
  <!-- <button *ngIf="!data.time" mat-button [mat-dialog-close]="data.text">Ok</button> -->
</div>