<!-- <div class="container py-2 d-flex flex-column page">
  <img class="h-100" src="https://gdb.rferl.org/896C5DE4-4A05-4ABF-8A65-98757BCE519C_w1023_r1_s.jpg">
  <div class="h-100 p-2 bd-highlight">Use .flex-grow-* utilities to toggle a flex item’s ability to grow to fill available
    space. In the example below, the .flex-grow-1 elements uses all available space it can, while allowing the remaining
    two flex items their necessary space.</div>
</div> -->

<div class="grid-container">
  <!-- <div class="w-100 h-100 d-flex justify-content-around align-items-stretch">
    <div class="bg-primary d-flex">
      <svg-icon class="align-self-center" name="ico" [svgStyle]="{'width.em': 3,'height.em':3}"></svg-icon>
    </div>
    <div>
      <svg-icon name="ico" [svgStyle]="{'width.em': 3,'height.em':3}"></svg-icon>
    </div>
    <div>
      <svg-icon name="ico" [svgStyle]="{'width.em': 3,'height.em':3}"></svg-icon>
    </div>
    <div>
      <svg-icon name="ico" [svgStyle]="{'width.em': 3,'height.em':3}"></svg-icon>
    </div>
    <div>
      <svg-icon name="ico" [svgStyle]="{'width.em': 3,'height.em':3}"></svg-icon>
    </div>
  </div> -->
  <div>
    1
  </div>
  <div>
    1
  </div>
</div>