<div class="mind-map-page">
  <div class="mind-map-top" *ngIf="pers">
    <button mat-icon-button (click)="goBack()" class="mind-map-icon-btn" *ngIf="!this.contextmenu">
      <img src="assets/icons/left.png" class="img-fluid" [ngStyle]="{ 'object-fit': 'contain', height: '32px' }">
    </button>
    <div class="mind-map-title">
      <div class="mind-map-name">{{ pers.name }}</div>
      <div class="mind-map-rang">{{ pers.rangName }}, уровень {{ pers.level }}</div>
    </div>
    <div class="mind-map-stats">
      <span class="mind-map-stat mind-map-stat_level">{{ pers.level }}</span>
      <span class="mind-map-stat">{{ getCharactCount() }} хар.</span>
      <span class="mind-map-stat">{{ getAbilityCount() }} нав.</span>
    </div>
  </div>

  <div class="mind-map-legend" *ngIf="pers">
    <span><i class="legend-dot legend-dot_pers"></i>Персонаж</span>
    <span><i class="legend-dot legend-dot_charact"></i>Характеристики</span>
    <span><i class="legend-dot legend-dot_task"></i>Навыки</span>
    <span><i class="legend-line"></i>Требования</span>
  </div>

  <div class="mind-map-chart">
    <div #mindMapCanvas class="mind-map-canvas"></div>
  </div>
</div>

<nav *ngIf="this.contextmenu" class="fixed-bottom mind-map-actions">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="3px">
    <div fxFlex>
      <button mat-flat-button [disabled]="item?.type=='st'" color="accent" class="pointer w-100"
        (click)="choose('открыть')">
        Открыть
      </button>
    </div>
    <div fxFlex>
      <button mat-flat-button [disabled]="item?.type=='st' || item?.type=='t' || (item?.type=='ch')" color="accent" class="pointer  w-100"
        (click)="choose('добавить')">
        Добавить
      </button>
    </div>
    <div fxFlex>
      <button mat-flat-button [disabled]="item?.type=='pers'" color="accent" class="pointer  w-100"
        (click)="choose('удалить')">
        Удалить
      </button>
    </div>
    <div>
      <button mat-flat-button color="accent" class="pointer  w-100" (click)="choose('')">
        X
      </button>
    </div>
  </div>
</nav>
