@import "~ng-pick-datetime/assets/style/picker.min.css";

@import "~ngx-toastr/toastr.css";
/* @import "~@angular/material/prebuilt-themes/purple-green.css"; */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css";  */

.abText {
  /* font-family: initial !important; */
  font-size: initial !important;
  line-height: initial !important;
}

.nounderline {
  text-decoration: none !important;
}

.attrprogr {
  /* background-color: transparent !important; */
  background-color: #69f0af76 !important;
  /* background-image: linear-gradient(to right, #FFF, #00F); */
  /* box-shadow: 0 5px 4px -6px #aaa; */
  /* border-radius: 5px 5px 5px 5px; */
}

.attr.progr-val-less {
  /* background-color: #69f0af84 !important; */
  background-color: transparent !important;
}

.attr.progr-val-more {
  /* background-color: #69f0af84 !important; */
  background-color: transparent !important;
}

.attrprogr-val {
  background-color: #f9f9e09c !important;
  /* background-image: linear-gradient(to right, #FFF, #00F); */
  box-shadow: 0 5px 4px -6px #aaa;
  /* border-radius: 5px 5px 5px 5px; */
}

.abprogr {
  /* background-color: transparent !important; */
  background-color: rgba(255, 255, 0, 0.441) !important;
  /* box-shadow: 0 5px 4px -6px #aaa; */
  /* border-radius: 5px 5px 5px 5px; */
}

.progr-val-less {
  background-color: transparent !important;
  /* background-color: #f8f8d2e1 !important; */
}

.progr-val-more {
  background-color: transparent !important;
  /* background-color: #f8f8d2e1 !important; */
}

.abprogr-val {
  background-color: #f8f8c8cc !important;
  box-shadow: 0 5px 4px -6px #aaa;
  /* border-radius: 5px 5px 5px 5px; */
}

.progress {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.dot-table td {
  overflow: hidden;
  white-space: nowrap;
}

.dot-table td:first-child:after {
  content: " - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - ";
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.btn:focus {
  box-shadow: none !important;
}

.toast-top-center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.pointer {
  cursor: pointer;
}

.large-badge.badge {
  font-size: 100%;
}

.disabled {
  opacity: 0.6;
}

button:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  background: white;
}

.mat-button-focus-overlay {
  background-color: transparent;
}

.icon {
  display: block;
  width: 2em;
  height: 2em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.iconSmall {
  display: block;
  width: 1.25em;
  height: 1.25em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

:host ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

.myprogr .mat-progress-bar-buffer {
  background-color: white !important;
}

.abNextLevProgrPersList .mat-progress-bar-fill::after {
  background-color: #ffff5c !important;
}

.abNextLevProgrPersList .mat-progress-bar-buffer {
  background-color: transparent !important;
}

.abNextLevProgrPersList defs {
  display: none;
}

.abNextLevProgr .mat-progress-bar-buffer {
  background-color: lightgray !important;
}

.abNextLevProgr .mat-progress-bar-fill::after {
  background-color: #ffff5c !important;
}

/* .icon-small.mat-icon-button {
    font-size: 1em !important;
    height: 1em !important;
    width: 1em !important;
} */

.icon-small.mat-icon-button {
  width: 1.7em;
  height: 1.7em;
  line-height: 0px;
  margin: 0.2em;
}

.backdrop-timer {
  background: rgba(0, 0, 0, 0.99);
}

.backdrop-timer .mat-dialog-container {
  background: black;
}

.backdrop {
  background: rgba(0, 0, 0, 0.85);
}

.backdrop-changes {
  background: rgba(0, 0, 0, 0.85);
}

.icon-small.mat-icon-button img {
  width: 1.7em;
  height: 1.7em;
  object-fit: "contain";
}

.my-good {
}

.my-bad {
}

/* .mat-icon-button {
    height: auto !important;
    width: auto !important;
} */

.par-dialog .mat-dialog-container {
  width: 100% !important;
}

.mat-tab-label-active {
  opacity: 1 !important;
}

/* .par-dialog .mat-dialog-container{
    position: absolute;
    left:0;
    right:0;
    top: 0;
    width: 100%;
    height: 100%;
} */

.my-dialog {
}

.my-dialog .mat-dialog-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 10px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  width: calc(100% - 20px);
}

.custom-black {
}

.custom-black .mat-dialog-container {
  background: black;
}

.my-big {
}

.my-big .mat-dialog-container {
  width: 95vw;
  max-width: 900px;
}

.my-middle {
}

.my-middle .mat-dialog-container {
  width: 95vw;
  max-width: 900px;
}

h5 {
  color: gray;
  margin: 0px;
  font-weight: normal;
}

.my-good .mat-dialog-container {
  background: green;
  width: 90vw !important;
  max-width: 640px;
}

.my-bad .mat-dialog-container {
  background: red;
  width: 90vw !important;
  max-width: 640px;
}

mat-form-field {
  width: 100%;
  min-width: 0 !important;
}

.mat-select-panel {
  max-height: 80vh !important;
}

/* .danger-bar .mat-progress-bar-fill::after {
    background-color: #ff6859!important;
} */

/* Animate items as they’re being sorted. */
/* .cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
} */

/* Animate an item that has been dropped. */
/* .cdk-drag-animating {
    transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
} */

.mat-slider-thumb-label-text {
  opacity: 1 !important;
}

.mat-slider-thumb-label {
  transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;
}

.mat-slider-thumb {
  transform: scale(0) !important;
}

.panel-override {
  max-height: 40vh !important;
}

mat-chip {
  font-size: x-small !important;
  padding: 7px !important;
}

.perk {
  /* color: gold; */
}

.timepicker-overlay {
  z-index: 1100 !important;
}

.timepicker-backdrop-overlay {
  z-index: 1100 !important;
}

button.ngx-material-timepicker-toggle {
  display: contents !important;
  padding: 0px !important;
}

button svg {
  opacity: 0.4 !important;
  height: 22px !important;
  width: 22px !important;
  margin-bottom: 4px !important;
}

html,
body {
  height: 100vh;
  font-family: "Roboto" !important;
}

body {
  margin: 0;
}

.row-striped.even {
  background-color: #f9f9f9;
}

.my-checkbox {
  height: 27px !important;
}

.my-checkbox label {
  margin: 0px !important;
  padding: 0px !important;
}

.no-padding .mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  padding: 0;
  border-top: 0px solid transparent !important;
}

.gap {
  gap: 10px;
}

.flex {
  display: flex;
  gap: 8px;
}

.flexitem {
  flex-basis: calc(33.33% - 8px);
}

@media only screen and (max-width: 768px) {
  .flexitem {
    flex-basis: calc(50% - 8px);
  }
}

.chLstTsk {
  background-color: rgba(255, 255, 255, 0.606);
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  color: black;
}

.abLelelsDescr {
  font-size: medium;
}

.changesImg {
  object-fit: contain;
  max-height: 256px;
  aspect-ratio: 1/1;
  padding-left: 12px;
  padding-right: 12px;
}

.bigTextShrink {
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
}

.masonry-list-galery {
  column-count: 3;
  column-gap: 4px;
}

.masonry-list {
  column-count: 3;
  column-gap: 4px;
}

.skillBtn {
  padding: 0px !important;
  /* line-height: 1.1em !important; */
}

.masonry-container {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 4px;
  padding-right: 2px;
}

.masonry-item {
  margin: 0 0 2px;
  max-width: 100%;
  max-height: 100%;
}

.ngx-masonry-item {
  padding: 1px;
  width: calc(100% / 3);
  margin-bottom: -7px !important;
}

.ngx-masonry-item-plus {
  padding: 1px;
  width: calc(100% / 4);
  margin-bottom: -7px !important;
}

.ngx-masonry-item-mid {
  padding: 2px;
  width: calc(100% / 5);
}

.ngx-masonry-item-big {
  padding: 2px;
  width: calc(100% / 8);
}

.main-masonry {
}

.no-border {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0px !important;
}

.main-masonry-small {
  column-count: 3;
  column-gap: 2px;
}

.main-masonry-small-plus {
  column-count: 4;
  column-gap: 2px;
}

.main-masonry-mid {
  column-count: 6;
  column-gap: 2px;
}

.main-masonry-big {
  column-count: 8;
  column-gap: 2px;
}

.main-masonry-item {
  margin: 0 0 2px;
  max-width: 100%;
  max-height: 100%;
}

.masonry-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.global-skill-img {
  aspect-ratio: 1;
  object-fit: cover;
}

@media only screen and (min-width: 927px) {
  .masonry-list {
    column-count: 6;
  }

  .masonry-list-galery {
    column-count: 6;
  }

  .main-masonry {
    column-count: 8;
    column-gap: 2px;
  }
}

@media only screen and (max-width: 926px) and (min-width: 601px) {
  .masonry-list {
    column-count: 4;
  }

  .masonry-list-galery {
    column-count: 4;
  }

  .main-masonry {
    column-count: 6;
    column-gap: 2px;
  }
}

@media only screen and (max-width: 600px) {
  .masonry-list {
    column-count: 3;
  }

  .masonry-list-galery {
    column-count: 3;
  }

  .main-masonry {
    column-count: 3;
    column-gap: 2px;
  }
}

.isPerk {
  color: olive;
}

.isSame {
  font-weight: bold;
}

.revBtn {
  padding: 2px !important;
  line-height: 1.1em !important;
}

.revFade {
  opacity: 0.55;
}

.hp-bar {
  margin-bottom: 2px;
}

.hp-bar .mat-progress-bar-fill::after {
  background-color: pink !important;
}

.hp-bar .mat-progress-bar-buffer {
  background-color: transparent !important;
}

.hp-bar defs {
  display: none;
}
